<td>
  {{view "select"
  value=selectedTeam
  content=fantasyTeams
  optionLabelPath="content.abbreviation"
  prompt="Select"}}
</td>
<td>{{player.fantasyTeam.abbreviation}}
  {{#if hasBeenDrafted}}
    <button{{action "dropPlayer" player}}>x</button>
  {{/if}}
</td>
<td>{{player.pos}}</td>
<td>{{rank}}</td>
<td class="name">{{player.name}}</td>
<td class="stat">{{player.r}}</td>
<td class="stat">{{player.hr}}</td>
<td class="stat">{{player.rbi}}</td>
<td class="stat">{{player.sb}}</td>
<td class="stat">{{player.avg}}</td>
<td class="sum">{{player.sum}}</td>
<td class="dollar">${{player.value_lower}}</td>
