<td>{{view "select"
  value=selectedTeam
  content=fantasyTeams
  optionLabelPath="content.abbreviation"
  prompt="Select"}}</td>
<td>{{player.fantasyTeam.abbreviation}}</td>
<td>{{player.name}}</td>
<td>{{player.pos}}</td>
<td>{{player.r}}</td>
<td>{{player.hr}}</td>
<td>{{player.rbi}}</td>
<td>{{player.sb}}</td>
<td>{{player.avg}}</td>
