<h3>American Baseball</h3>

<table>
  {{partial "partials/player-thead"}}
  <tbody>
    {{#each hitter in players}}
      <tr>
        {{player-component player=hitter fantasyTeams=fantasyTeams}}
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th colspan=4>Target</th>
      <td>927</td>
      <td>234</td>
      <td>895</td>
      <td>140</td>
      <td>0.266</td>
    </tr>
    <tr>
      <th colspan=4>Projected</th>
      <td>{{rSum}}</td>
      <td>{{hrSum}}</td>
      <td>{{rbiSum}}</td>
      <td>{{sbSum}}</td>
      <td>{{avgAverage}}</td>
    </tr>
    <tr>
      <th colspan=4>Percentage</th>
      <td>{{rPercentage}}</td>
      <td>{{hrPercentage}}</td>
      <td>{{rbiPercentage}}</td>
      <td>{{sbPercentage}}</td>
      <td></td>
    </tr>
    <tr>
      <th colspan=4>Difference</th>
      <td>{{rDifference}}</td>
      <td>{{hrDifference}}</td>
      <td>{{rbiDifference}}</td>
      <td>{{sbDifference}}</td>
      <td>{{avgDifference}}</td>
    </tr>
  </tfoot>
</table>
