<h3>American Baseball</h3>

<table>
  <thead>
    <tr>
      <th>Pos</th>
      <th>Name</th>
      <th>R</th>
      <th>HR</th>
      <th>RBI</th>
      <th>SB</th>
      <th>AVG</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>C</td>
        <td class="name">{{catcher.name}}</td>
        <td>{{catcher.r}}</td>
        <td>{{catcher.hr}}</td>
        <td>{{catcher.rbi}}</td>
        <td>{{catcher.sb}}</td>
        <td>{{catcher.avg}}</td>
      </tr>
      <tr>
        <td>1B</td>
        <td class="name">{{firstBaseman.name}}</td>
        <td>{{firstBaseman.r}}</td>
        <td>{{firstBaseman.hr}}</td>
        <td>{{firstBaseman.rbi}}</td>
        <td>{{firstBaseman.sb}}</td>
        <td>{{firstBaseman.avg}}</td>
      </tr>
      <tr>
        <td>2B</td>
        <td class="name">{{secondBaseman.name}}</td>
        <td>{{secondBaseman.r}}</td>
        <td>{{secondBaseman.hr}}</td>
        <td>{{secondBaseman.rbi}}</td>
        <td>{{secondBaseman.sb}}</td>
        <td>{{secondBaseman.avg}}</td>
      </tr>
      <tr>
        <td>3B</td>
        <td class="name">{{thirdBaseman.name}}</td>
        <td>{{thirdBaseman.r}}</td>
        <td>{{thirdBaseman.hr}}</td>
        <td>{{thirdBaseman.rbi}}</td>
        <td>{{thirdBaseman.sb}}</td>
        <td>{{thirdBaseman.avg}}</td>
      </tr>
      <tr>
        <td>SS</td>
        <td class="name">{{shortstop.name}}</td>
        <td>{{shortstop.r}}</td>
        <td>{{shortstop.hr}}</td>
        <td>{{shortstop.rbi}}</td>
        <td>{{shortstop.sb}}</td>
        <td>{{shortstop.avg}}</td>
      </tr>
      <tr>
        <td>MI</td>
        <td class="name">{{middleInfielder.name}}</td>
        <td>{{middleInfielder.r}}</td>
        <td>{{middleInfielder.hr}}</td>
        <td>{{middleInfielder.rbi}}</td>
        <td>{{middleInfielder.sb}}</td>
        <td>{{middleInfielder.avg}}</td>
      </tr>
      <tr>
        <td>CI</td>
        <td class="name">{{cornerInfielder.name}}</td>
        <td>{{cornerInfielder.r}}</td>
        <td>{{cornerInfielder.hr}}</td>
        <td>{{cornerInfielder.rbi}}</td>
        <td>{{cornerInfielder.sb}}</td>
        <td>{{cornerInfielder.avg}}</td>
      </tr>
      <tr>
        <td>OF</td>
        <td class="name">{{of1.name}}</td>
        <td>{{of1.r}}</td>
        <td>{{of1.hr}}</td>
        <td>{{of1.rbi}}</td>
        <td>{{of1.sb}}</td>
        <td>{{of1.avg}}</td>
      </tr>
      <tr>
        <td>OF</td>
        <td class="name">{{of2.name}}</td>
        <td>{{of2.r}}</td>
        <td>{{of2.hr}}</td>
        <td>{{of2.rbi}}</td>
        <td>{{of2.sb}}</td>
        <td>{{of2.avg}}</td>
      </tr>
      <tr>
        <td class="name">OF</td>
        <td>{{of3.name}}</td>
        <td>{{of3.r}}</td>
        <td>{{of3.hr}}</td>
        <td>{{of3.rbi}}</td>
        <td>{{of3.sb}}</td>
        <td>{{of3.avg}}</td>
      </tr>
      <tr>
        <td class="name">OF</td>
        <td>{{of4.name}}</td>
        <td>{{of4.r}}</td>
        <td>{{of4.hr}}</td>
        <td>{{of4.rbi}}</td>
        <td>{{of4.sb}}</td>
        <td>{{of4.avg}}</td>
      </tr>
      <tr>
        <td class="name">Util</td>
        <td>{{util.name}}</td>
        <td>{{util.r}}</td>
        <td>{{util.hr}}</td>
        <td>{{util.rbi}}</td>
        <td>{{util.sb}}</td>
        <td>{{util.avg}}</td>
      </tr>
      <tr>
        <td class="name">Bench-1</td>
        <td>{{bench1.name}}</td>
        <td>{{bench1.r}}</td>
        <td>{{bench1.hr}}</td>
        <td>{{bench1.rbi}}</td>
        <td>{{bench1.sb}}</td>
        <td>{{bench1.avg}}</td>
      </tr>
      <tr>
        <td class="name">Bench-2</td>
        <td>{{bench2.name}}</td>
        <td>{{bench2.r}}</td>
        <td>{{bench2.hr}}</td>
        <td>{{bench2.rbi}}</td>
        <td>{{bench2.sb}}</td>
        <td>{{bench2.avg}}</td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=2>Target sum</th>
      <td>927</td>
      <td>234</td>
      <td>895</td>
      <td>140</td>
      <td>0.266</td>
    </tr>
    <tr>
      <th colspan=2>Projected</th>
      <td>{{rSum}}</td>
      <td>{{hrSum}}</td>
      <td>{{rbiSum}}</td>
      <td>{{sbSum}}</td>
      <td>{{avgAverage}}</td>
    </tr>
    <tr>
      <th colspan=2>Percentage to target</th>
      <td>{{rPercentage}}</td>
      <td>{{hrPercentage}}</td>
      <td>{{rbiPercentage}}</td>
      <td>{{sbPercentage}}</td>
      <td></td>
    </tr>
    <tr>
      <th colspan=2>Difference</th>
      <td>{{rDifference}}</td>
      <td>{{hrDifference}}</td>
      <td>{{rbiDifference}}</td>
      <td>{{sbDifference}}</td>
      <td>{{avgDifference}}</td>
    </tr>
  </tfoot>
</table>
